(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("cocotb/sim_build/tinywhisper_top.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "tinywhisper_top",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
            ],
        ),
        displayed_items: {
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "ds_Q_n_o",
                    id: Wellen((648)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ds_Q_n_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "ds_I_oe",
                    id: Wellen((652)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ds_I_oe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                            "freq_inst",
                        ],
                        id: Wellen((122)),
                    ),
                    name: "cosine",
                    id: Wellen((752)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "cosine [29:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: Some(4.0),
                analog: Some((
                    settings: (
                        render_style: Interpolated,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "ds_Q_p_o",
                    id: Wellen((645)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ds_Q_p_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "ds_I_n_o",
                    id: Wellen((653)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ds_I_n_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "lo_I_o",
                    id: Wellen((636)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "lo_I_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "ds_Q_oe",
                    id: Wellen((647)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ds_Q_oe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "lo_Q_oe",
                    id: Wellen((630)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "lo_Q_oe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "analog_en",
                    id: Wellen((657)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "analog_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "ds_I_p_o",
                    id: Wellen((650)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ds_I_p_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "lo_Ix_o",
                    id: Wellen((633)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "lo_Ix_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "lo_Qx_o",
                    id: Wellen((628)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "lo_Qx_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "lo_I_oe",
                    id: Wellen((635)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "lo_I_oe",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "lo_Q_o",
                    id: Wellen((631)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "lo_Q_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "Q_ae",
                    id: Wellen((658)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "Q_ae",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (25): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "I_ae",
                    id: Wellen((659)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "I_ae",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "input_PAD",
                    id: Wellen((5)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "input_PAD [5:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "bidir_PAD",
                    id: Wellen((3)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "bidir_PAD [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "output_PAD",
                    id: Wellen((6)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "output_PAD [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tinywhisper_top",
                            "i_tinywhisper_core",
                            "riscv_top",
                            "memory_i",
                        ],
                        id: Wellen((121)),
                    ),
                    name: "freq_status",
                    id: Wellen((644)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "freq_status [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 27,
        viewports: [
            (
                curr_left: (0.5473935700388031),
                curr_right: (0.5512998200388031),
                target_left: (-0.036091788598384904),
                target_right: (0.21655073159030944),
                move_start_left: (-0.036091788598384904),
                move_start_right: (0.21655073159030944),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2340464358,
            228,
        ])),
        markers: {},
        focused_item: Some((24)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)
