runs/
backups/
sim_build/
dsmod_sim_build/
__pycache__/
tb/a.out
drc_run_*
lvs_run_*
*.vcd
*.raw
*.log
*.pyc
*.ext
.DS_Store
/archive
/doc/.quarto/
/doc/_site/
/doc/fig/fec.pdf
/doc/fig/fec.log
/doc/fig/fec.fls
/doc/fig/fec.aux
/doc/fig/fec.synctex.gz
/doc/fig/fec.fdb_latexmk
/doc/fig/DSMOD Fig. 1.13.jpeg
/doc/fig/DSMOD Fig 1.4.jpeg
/packaging/ASIC_Prototype_Packaging_Design_Rules_2024.pdf
/packaging/klayout_printout.pdf
/packaging/MLP7X7-48-OP-02-R2-ECN-10501.pdf
/packaging/AN-Guidelines to create a bonding diagram.pdf
/packaging/EP_PACKAGES_08022018.gds
/sky130/verification/cace/_runs
/sky130/verification/cace/_docs
/sky130/verification/cace/netlist
/sky130/verification/cace/templates/simulations
/sky130/flow/librelane/runs
/sky130/schematic/simulations
/sky130/testbenches/simulations
/ihp130/flow/final
/ihp130/flow/artistic
/ihp130/doc/AMS
/ihp130/doc/klayout/pex.zip
/ihp130/doc/klayout/ue_dcic_part2_v12.pdf
/ihp130/doc/GHDL
/ihp130/doc/IHP-PDK/SG13G2_os_layout_rules.pdf
/ihp130/doc/IHP-PDK/SG13G2_os_process_spec.pdf
/ihp130/doc/magic/magic_cheatsheet.pdf
/ihp130/doc/naming/Circuit-Designers-Etiquette.pdf
/ihp130/doc/ngspice
/ihp130/doc/PSP
/ihp130/doc/verilog
/ihp130/doc/xschem
/ihp130/doc/yosys
/ihp130/doc/magic/IHP MOM
/ihp130/doc/TinyWhisper_IHP130.pptx
/ihp130/doc/Open_Analog_Cheat_Sheet_v0.1.pdf
/ihp130/doc/Intro_Digital_Design_Flow_FOSS.pdf
/ihp130/schematic/simulations
/ihp130/testbenches/simulations
/ihp130/ip/sg13g2_ip__rf_bondpad_80x80
/ihp130/macros/iqmod/scripts/sizing/techsweep
/ihp130/macros/iqmod/scripts/sizing/drawing_circuits.ipynb
/ihp130/macros/iqmod/verification/cace/_runs
/ihp130/macros/iqmod/verification/cace/_docs
/ihp130/macros/iqmod/verification/cace/netlist
/ihp130/macros/iqmod/verification/cace/templates/simulations
/ihp130/macros/iqmod/schematic/archive
/ihp130/macros/iqmod/schematic/techsweep
/ihp130/macros/iqmod/schematic/simulations
/ihp130/macros/iqmod/testbenches/archive
/ihp130/macros/iqmod/testbenches/simulations
/ihp130/macros/coupled_resonator_lc_bpf/schematic/simulations
/ihp130/macros/coupled_resonator_lc_bpf/testbenches/simulations
/ihp130/macros/riscv/schematic/simulations
/ihp130/macros/riscv/testbenches/xschem/simulations
/ihp130/macros/decoupling
