runs/
backups/
__pycache__/
tb/a.out
drc_run_*
lvs_run_*
*.vcd
*.raw
.DS_Store
*.pyc
*.ext
doc/fig/fec.pdf
doc/fig/fec.log
doc/fig/fec.fls
doc/fig/fec.aux
doc/fig/fec.synctex.gz
doc/fig/fec.fdb_latexmk
doc/_site/index.html
doc/_site/search.json
doc/_site/fig/fec.svg
/sky130/cace/_runs
/sky130/cace/_docs
/sky130/cace/netlist
/sky130/cace/templates/simulations
/sky130/librelane/runs
/sky130/xschem/simulations
/ihp130/IHP-Open-PDK/
/ihp130/sim_build/
/ihp130/final/
/ihp130/artistic/
/ihp130/xschem/simulations
/ihp130/macros/iqmod/cace/_runs
/ihp130/macros/iqmod/cace/_docs
/ihp130/macros/iqmod/cace/netlist
/ihp130/macros/iqmod/cace/templates/simulations
/ihp130/macros/iqmod/xschem/simulations
/ihp130/macros/coupled_resonator_lc_bpf/xschem/simulations
/ihp130/macros/riscv/xschem/simulations
