# SPDX-License-Identifier: MIT
# Copyright (c) tinyVision.ai Inc
#
# This file acts as a catalogue of all pinout bindings you may want,
# so that you can copy-paste them to build your own .pcf file out
# of it. It is also possible, of course, to use custom names.
#
# See https://pico-ice.tinyvision.ai/pinout.html for the position
# of the pins on the board.

# Reference for PMOD names:
# https://digilent.com/reference/pmod/start


# Inputs
set_io clk                  35
set_io reset                10
# set_io mosi               28
# set_io cs                 31
set_io start_transmission   19
set_io rx                   27

# Outputs
set_io encoding_valid       18

set_io cos_ds               20
set_io cos_ds_n             45
set_io sin_ds               47
set_io sin_ds_n              2

set_io lo_i                 31
set_io lo_q                 28
set_io lo_ix                34
set_io lo_qx                32
